template.yaml
AWSTemplateFormatVersion: 2010-09-09
Parameters:
  BackupVaultName:
    Type: String
    Default: Default
  RecoveryPointArn:
    Type: String
  Vpc:
    Type: AWS::EC2::VPC::Id  
  Subnet:
    Type: AWS::EC2::Subnet::Id  
  # SourceSequrityGroups:
  #   Type: List<AWS::EC2::SecurityGroup::Id>  
  SecurityGroup:
    Type: AWS::EC2::SecurityGroup::Id  
  PerformanceMode:
    Type: String
    AllowedValues:
      - generalPurpose
      - maxIO
    Default: generalPurpose
  TransitionToIA:
    Type: String
    AllowedValues:
      - NONE
      - AFTER_14_DAYS
      - AFTER_30_DAYS
      - AFTER_60_DAYS
      - AFTER_7_DAYS
      - AFTER_90_DAYS
    Default: NONE  
  TransitionToPrimaryStorageClass:
    Type: String
    AllowedValues:
      - NONE
      - AFTER_1_ACCESS
    Default: NONE   
  Encrypted:
    Type: String
    AllowedValues:
      - "true"
      - "false"
    Default: "false"
  KmsKeyId:
    Type: String
           
Conditions:
  IsEmpty: !Equals [!Ref RecoveryPointArn, '']  
  IsRestore: !Not [!Condition IsEmpty]  
  IsTransitionToIANone: !Equals [!Ref TransitionToIA, NONE]  
  IsTransitionToPrimaryStorageClassNone: !Equals [!Ref TransitionToPrimaryStorageClass, NONE]
  IsLifecyclePolicyNone: !And [!Condition IsTransitionToIANone, !Condition IsTransitionToPrimaryStorageClassNone]
  IsKmsKeyIdEmpty: !Equals [!Ref KmsKeyId, '']
       
Resources:
  EmptyEfs:
    Type: AWS::EFS::FileSystem
    Condition: IsEmpty
    Properties:
      BackupPolicy:
        Status: DISABLED
      PerformanceMode: !Ref PerformanceMode
      ThroughputMode: bursting
      LifecyclePolicies: 
        !If
          - IsLifecyclePolicyNone
          - !Ref AWS::NoValue
          -
            - !If 
                - IsTransitionToIANone
                - !Ref AWS::NoValue
                - 
                  TransitionToIA: !Ref TransitionToIA
            - !If 
                - IsTransitionToPrimaryStorageClassNone
                - !Ref AWS::NoValue
                - 
                  TransitionToPrimaryStorageClass: !Ref TransitionToPrimaryStorageClass
      Encrypted: !Ref Encrypted
      KmsKeyId: !If [IsKmsKeyIdEmpty, !Ref AWS::NoValue, !Ref KmsKeyId] 
  
  RecoveredEfs:
    Type: Custom::RecoveredEfs
    Condition: IsRestore
    Properties: 
      ServiceToken: !GetAtt RunEfsStateMachineLambda.Arn
      BackupVaultName: !Ref BackupVaultName
      RecoveryPoint: !Ref RecoveryPointArn
      PerformanceMode: !Ref PerformanceMode
      TransitionToIA: !Ref TransitionToIA
      TransitionToPrimaryStorageClass: !Ref TransitionToPrimaryStorageClass
      Encrypted: !Ref Encrypted
      KmsKeyId: !Ref KmsKeyId
 
  FixingEfs:
    Type: Custom::FixingEfs
    Condition: IsRestore
    DependsOn: RecoveredEfs
    Properties: 
      ServiceToken: !GetAtt RunFixStateMachineLambda.Arn
      BackupVaultName: !Ref BackupVaultName
      RecoveryPoint: !Ref RecoveryPointArn
      PerformanceMode: !Ref PerformanceMode
      Encrypted: !Ref Encrypted
      KmsKeyId: !Ref KmsKeyId
       
  EfsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Condition: IsRestore
    Properties:
      DefinitionString: |
        {
          "Comment": "A description of my state machine",
          "StartAt": "Choice action",
          "States": {
            "Choice action": {
              "Type": "Choice",
              "Choices": [
                {
                  "Or": [
                    {
                      "Variable": "$.Request.RequestType",
                      "StringEquals": "Create"
                    },
                    {
                      "And": [
                        {
                          "Variable": "$.Request.RequestType",
                          "StringEquals": "Update"
                        },
                        {
                          "Or": [
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.BackupVaultName",
                                "StringEqualsPath": "$.Request.OldResourceProperties.BackupVaultName"
                              }
                            },
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.RecoveryPoint",
                                "StringEqualsPath": "$.Request.OldResourceProperties.RecoveryPoint"
                              }
                            },
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.PerformanceMode",
                                "StringEqualsPath": "$.Request.OldResourceProperties.PerformanceMode"
                              }
                            },
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.Encrypted",
                                "StringEqualsPath": "$.Request.OldResourceProperties.Encrypted"
                              }
                            },
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.KmsKeyId",
                                "StringEqualsPath": "$.Request.OldResourceProperties.KmsKeyId"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "Next": "GetRecoveryPointRestoreMetadata"
                },
                {
                  "And": [
                    {
                      "Variable": "$.Request.RequestType",
                      "StringEquals": "Update"
                    },
                    {
                      "Or": [
                        {
                          "Not": {
                            "Variable": "$.Request.ResourceProperties.TransitionToIA",
                            "StringEqualsPath": "$.Request.OldResourceProperties.TransitionToIA"
                          }
                        },
                        {
                          "Not": {
                            "Variable": "$.Request.ResourceProperties.TransitionToPrimaryStorageClass",
                            "StringEqualsPath": "$.Request.OldResourceProperties.TransitionToPrimaryStorageClass"
                          }
                        }
                      ]
                    }
                  ],
                  "Next": "BuildLifecycleConfiguration (1)"
                },
                {
                  "Variable": "$.Request.RequestType",
                  "StringEquals": "Delete",
                  "Next": "DeleteFileSystem"
                }
              ]
            },
            "BuildLifecycleConfiguration (1)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "Payload": {
                  "TransitionToIA.$": "$.Request.ResourceProperties.TransitionToIA",
                  "TransitionToPrimaryStorageClass.$": "$.Request.ResourceProperties.TransitionToPrimaryStorageClass"
                },
                "FunctionName.$": "$.BuildLifecycleConfigurationLambdaName"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "PutLifecycleConfiguration (1)",
              "ResultPath": "$.BuildLifecycleConfigurationResult"
            },
            "PutLifecycleConfiguration (1)": {
              "Type": "Task",
              "Next": "Send success updated response",
              "Parameters": {
                "FileSystemId.$": "$.Request.PhysicalResourceId",
                "LifecyclePolicies.$": "$.BuildLifecycleConfigurationResult.Payload"
              },
              "Resource": "arn:aws:states:::aws-sdk:efs:putLifecycleConfiguration",
              "ResultPath": "$.LifecycleNoneResult"
            },
            "Send success updated response": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName.$": "$.SendResponseLambdaName",
                "Payload": {
                  "Request.$": "$.Request",
                  "ResponseStatus": "SUCCESS",
                  "PhysicalResourceId.$": "$.Request.PhysicalResourceId"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            },
            "GetRecoveryPointRestoreMetadata": {
              "Type": "Task",
              "Parameters": {
                "BackupVaultName.$": "$.Request.ResourceProperties.BackupVaultName",
                "RecoveryPointArn.$": "$.Request.ResourceProperties.RecoveryPoint"
              },
              "Resource": "arn:aws:states:::aws-sdk:backup:getRecoveryPointRestoreMetadata",
              "ResultPath": "$.GetRecoveryPointRestoreMetadataResult",
              "Next": "StartRestoreJob"
            },
            "StartRestoreJob": {
              "Type": "Task",
              "Parameters": {
                "IamRoleArn.$": "$.BackupRoleArn",
                "Metadata": {
                  "file-system-id.$": "$.GetRecoveryPointRestoreMetadataResult.RestoreMetadata.file-system-id",
                  "Encrypted.$": "$.Request.ResourceProperties.Encrypted",
                  "KmsKeyId.$": "$.Request.ResourceProperties.KmsKeyId",
                  "PerformanceMode.$": "$.Request.ResourceProperties.PerformanceMode",
                  "CreationToken.$": "$.GetRecoveryPointRestoreMetadataResult.RestoreMetadata.aws:backup:request-id",
                  "newFileSystem": "true"
                },
                "RecoveryPointArn.$": "$.Request.ResourceProperties.RecoveryPoint",
                "ResourceType": "EFS"
              },
              "Resource": "arn:aws:states:::aws-sdk:backup:startRestoreJob",
              "ResultPath": "$.StartRestoreJobResult",
              "Next": "Wait for job completed"
            },
            "Wait for job completed": {
              "Type": "Wait",
              "Seconds": 30,
              "Next": "DescribeRestoreJob"
            },
            "DescribeRestoreJob": {
              "Type": "Task",
              "Parameters": {
                "RestoreJobId.$": "$.StartRestoreJobResult.RestoreJobId"
              },
              "Resource": "arn:aws:states:::aws-sdk:backup:describeRestoreJob",
              "ResultPath": "$.DescribeRestoreJobResult",
              "Next": "Restore Job Completed?"
            },
            "Restore Job Completed?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.DescribeRestoreJobResult.Status",
                  "StringEquals": "COMPLETED",
                  "Next": "ConvertArnToId"
                }
              ],
              "Default": "Wait for job completed"
            },
            "ConvertArnToId": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "Payload": {
                  "Arn.$": "$.DescribeRestoreJobResult.CreatedResourceArn"
                },
                "FunctionName.$": "$.ConvertArnToIdLambdaName"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "BuildLifecycleConfiguration",
              "ResultPath": "$.ConvertArnToIdResult"
            },
            "BuildLifecycleConfiguration": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "Payload": {
                  "TransitionToIA.$": "$.Request.ResourceProperties.TransitionToIA",
                  "TransitionToPrimaryStorageClass.$": "$.Request.ResourceProperties.TransitionToPrimaryStorageClass"
                },
                "FunctionName.$": "$.BuildLifecycleConfigurationLambdaName"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "PutLifecycleConfiguration",
              "ResultPath": "$.BuildLifecycleConfigurationResult"
            },
            "PutLifecycleConfiguration": {
              "Type": "Task",
              "Next": "Send success created response",
              "Parameters": {
                "FileSystemId.$": "$.ConvertArnToIdResult.Payload",
                "LifecyclePolicies.$": "$.BuildLifecycleConfigurationResult.Payload"
              },
              "Resource": "arn:aws:states:::aws-sdk:efs:putLifecycleConfiguration",
              "ResultPath": "$.LifecycleNoneResult"
            },
            "Send success created response": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName.$": "$.SendResponseLambdaName",
                "Payload": {
                  "Request.$": "$.Request",
                  "ResponseStatus": "SUCCESS",
                  "PhysicalResourceId.$": "$.ConvertArnToIdResult.Payload"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            },
            "Send success deleted response": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName.$": "$.SendResponseLambdaName",
                "Payload": {
                  "Request.$": "$.Request",
                  "ResponseStatus": "SUCCESS",
                  "PhysicalResourceId.$": "$.Request.PhysicalResourceId"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            },
            "DeleteFileSystem": {
              "Type": "Task",
              "Parameters": {
                "FileSystemId.$": "$.Request.PhysicalResourceId"
              },
              "Resource": "arn:aws:states:::aws-sdk:efs:deleteFileSystem",
              "ResultPath": "$.DeleteFileSystemResult",
              "Next": "Send success deleted response"
            }
          }
        } 
      # DefinitionSubstitutions:  
      RoleArn: !GetAtt StateMachineRole.Arn
  
  FixStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Condition: IsRestore
    Properties:
      DefinitionString: |
        {
          "Comment": "A description of my state machine",
          "StartAt": "Choise Request type",
          "States": {
            "Choise Request type": {
              "Type": "Choice",
              "Choices": [
                {
                  "Or": [
                    {
                      "Variable": "$.Request.RequestType",
                      "StringEquals": "Create"
                    },
                    {
                      "And": [
                        {
                          "Variable": "$.Request.RequestType",
                          "StringEquals": "Update"
                        },
                        {
                          "Or": [
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.BackupVaultName",
                                "StringEqualsPath": "$.Request.OldResourceProperties.BackupVaultName"
                              }
                            },
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.RecoveryPoint",
                                "StringEqualsPath": "$.Request.OldResourceProperties.RecoveryPoint"
                              }
                            },
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.PerformanceMode",
                                "StringEqualsPath": "$.Request.OldResourceProperties.PerformanceMode"
                              }
                            },
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.Encrypted",
                                "StringEqualsPath": "$.Request.OldResourceProperties.Encrypted"
                              }
                            },
                            {
                              "Not": {
                                "Variable": "$.Request.ResourceProperties.KmsKeyId",
                                "StringEqualsPath": "$.Request.OldResourceProperties.KmsKeyId"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "Next": "Fix"
                }
              ],
              "Default": "Send success response"
            },
            "Fix": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName.$": "$.FixLambdaName"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "Send success response",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Send failed response"
                }
              ],
              "ResultPath": "$.FixResult"
            },
            "Send success response": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName.$": "$.SendResponseLambdaName",
                "Payload": {
                  "Request.$": "$.Request",
                  "ResponseStatus": "SUCCESS"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            },
            "Send failed response": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload": {
                  "Request.$": "$.Request",
                  "ResponseStatus": "FAILED"
                },
                "FunctionName.$": "$.SendResponseLambdaName"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      # DefinitionSubstitutions:  
      RoleArn: !GetAtt StateMachineRole.Arn

  FixLambdaSecurityGroup:
    Type: 'AWS::EC2::SecurityGroup'
    Condition: IsRestore
    Properties:
      GroupDescription: Allow none
      VpcId: !Ref Vpc

  CommonLambdaRole:
    Type: 'AWS::IAM::Role'
    Condition: IsRestore
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole'
        - 'arn:aws:iam::aws:policy/AmazonElasticFileSystemClientReadWriteAccess'
        - 'arn:aws:iam::aws:policy/AWSStepFunctionsFullAccess'
  
  BackupRole:
    Type: 'AWS::IAM::Role'
    Condition: IsRestore
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - backup.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/AmazonElasticFileSystemFullAccess'
   
  StateMachineRole:
    Type: 'AWS::IAM::Role'
    Condition: IsRestore
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/AWSBackupFullAccess'
        - 'arn:aws:iam::aws:policy/AmazonElasticFileSystemFullAccess'
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaRole'
      Policies:
        - PolicyDocument: |
            {
                "Version": "2012-10-17",
                "Statement": [
                    {
                        "Effect": "Allow",
                        "Action": [
                            "iam:GetRole",
                            "iam:PassRole"
                        ],
                        "Resource": "arn:aws:iam::*:role/*"
                    }
                ]
            }
          PolicyName: CustomEfsPolicy1

  RunEfsStateMachineLambda:
    Type: 'AWS::Lambda::Function' 
    Condition: IsRestore
    Properties:
      Code:
        ZipFile: |
          exports.handler = async(event) => {
            const AWS = require('aws-sdk');
            const stepFunctions = new AWS.StepFunctions();
            const params = {
                stateMachineArn: process.env.StateMachineArn,
                input: JSON.stringify({
                  Request: event,
                  BackupRoleArn: process.env.BackupRoleArn,
                  ConvertArnToIdLambdaName: process.env.ConvertArnToIdLambdaName,
                  SendResponseLambdaName: process.env.SendResponseLambdaName,
                  BuildLifecycleConfigurationLambdaName: process.env.BuildLifecycleConfigurationLambdaName
                }),
                name: event.RequestId
            };
            await stepFunctions.startExecution(params).promise();
          };
      Environment:
        Variables:
          StateMachineArn: !Ref EfsStateMachine
          BackupRoleArn: !GetAtt BackupRole.Arn
          ConvertArnToIdLambdaName: !Ref ConvertArnToIdLambda
          SendResponseLambdaName: !Ref SendResponseLambda
          BuildLifecycleConfigurationLambdaName: !Ref BuildLifecycleConfigurationLambda
      Role: !GetAtt CommonLambdaRole.Arn
      Runtime: nodejs14.x
      Handler: index.handler
      Timeout: 30

  RunFixStateMachineLambda:
    Type: 'AWS::Lambda::Function' 
    Condition: IsRestore
    Properties:
      Code:
        ZipFile: |
          exports.handler = async(event) => {
            const AWS = require('aws-sdk');
            const stepFunctions = new AWS.StepFunctions();
            const params = {
                stateMachineArn: process.env.StateMachineArn,
                input: JSON.stringify({
                  Request: event,
                  SendResponseLambdaName: process.env.SendResponseLambdaName,
                  FixLambdaName: process.env.FixLambdaName
                }),
                name: event.RequestId
            };
            await stepFunctions.startExecution(params).promise();
          };
      Environment:
        Variables:
          StateMachineArn: !Ref FixStateMachine
          SendResponseLambdaName: !Ref SendResponseLambda
          FixLambdaName: !Ref FixLambda
      Role: !GetAtt CommonLambdaRole.Arn
      Runtime: nodejs14.x
      Handler: index.handler
      Timeout: 30

  # Converts arn of the restored resource to file system id. 
  ConvertArnToIdLambda:
    Type: 'AWS::Lambda::Function' 
    Condition: IsRestore
    Properties:
      Code:
        ZipFile: |
          exports.handler = async (event) => {
            let match = event.Arn.match(/file-system\/(.+)/) || [];
            return match[1];
          }
      Role: !GetAtt CommonLambdaRole.Arn
      Runtime: nodejs14.x
      Handler: index.handler
      Timeout: 30
  
  BuildLifecycleConfigurationLambda:
    Type: 'AWS::Lambda::Function' 
    Condition: IsRestore
    Properties:
      Code:
        ZipFile: |
          exports.handler = async (event) => {
            var result = [];
            if (event.TransitionToIA != "NONE")
              result.push(
                {
                  TransitionToIA: event.TransitionToIA
                }
              );
            if (event.TransitionToPrimaryStorageClass != "NONE")
              result.push(
                {
                  TransitionToPrimaryStorageClass: event.TransitionToPrimaryStorageClass
                }
              );    
            return result;
          };
      Role: !GetAtt CommonLambdaRole.Arn
      Runtime: nodejs14.x
      Handler: index.handler
      Timeout: 30

  SendResponseLambda:
    Type: 'AWS::Lambda::Function' 
    Condition: IsRestore
    Properties: 
      Code:
        ZipFile: |
          var response = require('cfn-response');
          exports.handler = function(event, context) {
            var responseData = {};
            response.send(event.Request, context, event.ResponseStatus, responseData, event.PhysicalResourceId);
          };
      # Environment:
      #   Variables:
      #     StateMachineArn: !Ref StateMachine
      Role: !GetAtt CommonLambdaRole.Arn
      Runtime: nodejs14.x
      Handler: index.handler
      Timeout: 30


  FixLambda:
    Type: 'AWS::Lambda::Function' 
    Condition: IsRestore
    Properties:
      Code:
        ZipFile: |
          const { execSync } = require('child_process');
          exports.handler = function (event, context) {            
                execSync('shopt -s dotglob \n mv aws-backup-restore_*/* .', 
                  {"cwd": process.env.mountPath}
                );       
                execSync('rm -d aws-backup-lost+found_*', 
                  {"cwd": process.env.mountPath}
                );       
                execSync('rm -d aws-backup-restore_*', 
                  {"cwd": process.env.mountPath}
                );       
          };
      Environment:
        Variables:
          mountPath: /mnt/efs
      Role: !GetAtt CommonLambdaRole.Arn
      Runtime: nodejs14.x
      Handler: index.handler
      Timeout: 30
      FileSystemConfigs:
        - Arn: !GetAtt AccessPoint.Arn
          LocalMountPath: /mnt/efs
      VpcConfig:
        SecurityGroupIds:
          - !Ref FixLambdaSecurityGroup
        SubnetIds:
          - !Ref Subnet

  # Access point for fix lambda function. 
  AccessPoint:
    Type: 'AWS::EFS::AccessPoint'
    Condition: IsRestore
    # Wait while MountTarget is created
    DependsOn: RecoveredEfsMountTarget
    Properties:
      FileSystemId: !Ref RecoveredEfs
      # Give full access. "0" is root user
      PosixUser:
        Gid: 0
        Uid: 0
      RootDirectory:
        Path: /

  EfsSecurityGroup:
    Type: 'AWS::EC2::SecurityGroup'
    Condition: IsRestore
    Properties:
      GroupDescription: Allow trafic from lambda
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 2049
          ToPort: 2049
          SourceSecurityGroupId: !Ref FixLambdaSecurityGroup
      VpcId: !Ref Vpc

  RecoveredEfsMountTarget:
    Type: 'AWS::EFS::MountTarget'
    Condition: IsRestore
    Properties:
      FileSystemId: !Ref RecoveredEfs
      # Append EfsSecurityGroup to array
      # SecurityGroups: !Split [",", !Join [ ",", [ !Join [ ",", !Ref SourceSequrityGroups], !Ref EfsSecurityGroup ] ]]
      SecurityGroups:
        - !Ref EfsSecurityGroup
        - !Ref SecurityGroup
      SubnetId: !Ref Subnet     
  
  EmptyEfsMountTarget:
    Type: 'AWS::EFS::MountTarget'
    Condition: IsEmpty
    Properties:
      FileSystemId: !Ref EmptyEfs
      SecurityGroups: 
        - !Ref SecurityGroup
      SubnetId: !Ref Subnet     

Outputs:
  FileSystemId:
    Value: !If [IsEmpty, !Ref EmptyEfs, !Ref RecoveredEfs]
